:root{
--cor-0: #ffffff;
--cor-1: #F6F6F6;
--cor-2: #DDDDDD;
--cor-3: #F7F7F7;
--cor-cinza: #E1E1E1;
--cor-cinza-medio: #f5f5f5;
--cor-cinza-escuro: #919191;



--cor-brand: #FF0000;


--cor-4: #303132;
--cor-45: #212122; 
--cor-5: #000000;
--cor-6: #1C1D1E;
--cor-7: #151617;
}


.cor-brand{
color: var(--cor-brand);

}

.cor-0{
color: var(--cor-0);
}


.cor-1{
color: var(--cor-1);
}


.cor-2{
color: var(--cor-2);
}


.cor-3{
color: var(--cor-3);
}


.cor-4{
color: var(--cor-4);
}

.cor-45{
color: var(--cor-45);
}

.cor-5{
color: var(--cor-5);
}


.cor-6{
color: var(--cor-6);
}


.cor-7{
color: var(--cor-7);
}

.cor-cinza{
color: var(--cor-cinza);
}

